DEFAULT_OPTIONS

LEVEL	TASK
UNITS	SEC

EVENT_TYPE
0	0	AVG_CPUFREQ_KHZ

EVENT_TYPE
0	1	AVG_IMCFREQ_KHZ

EVENT_TYPE
0	2	DEF_FREQ_KHZ

EVENT_TYPE
0	3	ITER_TIME_SEC

EVENT_TYPE
0	4	CPI

EVENT_TYPE
0	5	TPI

EVENT_TYPE
0	6	MEM_GBS

EVENT_TYPE
0	7	IO_MBS

EVENT_TYPE
0	8	PERC_MPI

EVENT_TYPE
0	9	DC_NODE_POWER_W

EVENT_TYPE
0	10	DRAM_POWER_W

EVENT_TYPE
0	11	PCK_POWER_W

EVENT_TYPE
0	12	CYCLES

EVENT_TYPE
0	13	INSTRUCTIONS

EVENT_TYPE
0	14	GFLOPS

EVENT_TYPE
0	15	L1_MISSES

EVENT_TYPE
0	16	L2_MISSES

EVENT_TYPE
0	17	L3_MISSES

EVENT_TYPE
0	18	SPOPS_SINGLE

EVENT_TYPE
0	19	SPOPS_128

EVENT_TYPE
0	20	SPOPS_256

EVENT_TYPE
0	21	SPOPS_512

EVENT_TYPE
0	22	DPOPS_SINGLE

EVENT_TYPE
0	23	DPOPS_128

EVENT_TYPE
0	24	DPOPS_256

EVENT_TYPE
0	25	DPOPS_512

EVENT_TYPE
0	85	gpu_power

EVENT_TYPE
0	86	gpu_freq

EVENT_TYPE
0	87	gpu_mem_freq

EVENT_TYPE
0	88	gpu_util

EVENT_TYPE
0	89	gpu_mem_util

EVENT_TYPE
0	90	gpu_gflops

EVENT_TYPE
0	91	dcgm_gr_engine_active

EVENT_TYPE
0	92	dcgm_sm_active

EVENT_TYPE
0	93	dcgm_sm_occupancy

EVENT_TYPE
0	94	dcgm_pipe_tensor_active

EVENT_TYPE
0	95	dcgm_pipe_fp64_active

EVENT_TYPE
0	96	dcgm_pipe_fp32_active

EVENT_TYPE
0	97	dcgm_pipe_fp16_active

EVENT_TYPE
0	98	dcgm_dram_active

EVENT_TYPE
0	99	dcgm_nvlink_tx_bytes

EVENT_TYPE
0	100	dcgm_nvlink_rx_bytes

EVENT_TYPE
0	101	dcgm_pcie_tx_bytes

EVENT_TYPE
0	102	dcgm_pcie_rx_bytes

EVENT_TYPE
0	81	START_TIME

EVENT_TYPE
0	82	END_TIME
